server:
  port: 8080

spring:
  application:
    name: gateway-service
  
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://localhost:3001"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      
      httpclient:
        connect-timeout: 5000
        response-timeout: 30s
  
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3000ms

app:
  jwt:
    secret: ${JWT_SECRET:ThisIsAVerySecureSecretKeyForJWTTokenGenerationPleaseChangeInProduction}
  
  services:
    auth:
      url: http://localhost:8081
    tenant:
      url: http://localhost:8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,gateway
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true

logging:
  level:
    root: INFO
    com.easybilling: DEBUG
    org.springframework.cloud.gateway: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
